main button {
    margin-top: 1rem;
}

main button:hover {
    background-color: #cf9c2c;
}

main button:active {
    background-color: #b48829;
}

textarea {
    height: 100px;
}

.mediaContacts {
    display: flex;
    margin-bottom: 10px;
}

.mediaContacts li {
    margin-right: 0.5rem;
    background-color: #252525;
    border-radius: 8px;

    display: flex;
    align-items: center;
}

.mediaContacts img {
    height: 2.25rem;
    margin: 5px;
}

.mediaContacts span {
    margin-right: 10px;
    margin-left: 5px;
}

@media screen and (min-width: 630px) {
    main {
        max-width: 55vw;
    }
}