#wrapper {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: 90px auto 100px;
    grid-template-areas:
        "sidemenu sidemenuToggle"
        "sidemenu main"
        "sidemenu footer"
    ;

    height: 100vh;
}

/* For Desktop */
@media screen and (min-width: 630px) {
    #wrapper {
        grid-template-columns: auto;
        grid-template-rows: 90px auto 100px;
        grid-template-areas:
            "topmenu"
            "main"
            "footer"
        ;
    }

    #wrapper .sidemenu {
        display: none;
    }

    #wrapper .topmenu {
        display: flex;
    }

    #wrapper .sidemenuToggle {
        display: none;
    }

    #wrapper main {
        margin: 20px;
    }

    main iframe {
        width: 512px;
        height: 288px;
    }
}

.checkbox {
    display: none;
}

.checkbox:checked + #wrapper {
    grid-template-columns: 220px auto;
}

.checkbox:checked + #wrapper .sidemenu {
    width: 220px;
}


/* <Navigation> */
.sidemenu {
    grid-area: sidemenu;

    background-color: #242424;

    display: flex;
    flex-direction: column;

    width: 70px;
}

.sidemenu .navImg {
    height: 70px;
    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidemenu .navImg a img {
    height: 50px;
}

.sidemenu ul {
    list-style-type: none;
    padding: 0;
    margin-left: 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidemenu ul li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.sidemenu ul:nth-child(2) {
    margin-top: 5px;
}

.sidemenu ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
}

.sidemenu ul li a img {
    width: 40px;
}

.sidemenu ul li a h3 {
    margin-left: 1rem;
}

.contactDropdown:hover > div {
    display: block;
    background-color: #252525;
    border: 1px solid #232323;
}

.contactDropdown > div > a {
    display: block;
}

/* </Navigation> */

/* <TopMenu> */
.topmenu {
    grid-area: topmenu;

    background-color: #242424;

    display: none;
    justify-content: flex-start;
    align-items: center;
}

.topmenu > a {
    margin-left: 1rem;
    margin-right: 1rem;
}

.topmenu a img {
    height: 60px;
}

.topmenu ul {
    list-style-type: none;
    padding: 0;

    display: flex;
}

.topmenu ul li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0.25rem;
    font-size: 1.5rem;
}

.topmenu ul li > a {
    text-decoration: none;

    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.25s;
}

.topmenu ul li > a:hover {
    border-bottom: 3px solid #DBA531;
}

.topmenu ul li > .onpage {
    border-bottom: 3px solid #DBA531;
}

.topmenu ul li a img {
    height: 1.25rem;
}

.contactDropdown > div {
    display: none;
    position: absolute;
    z-index: 1;

    margin-top: 3px;
}

.checkbox + #wrapper > .sidemenu ul li a h3 {
    display: none;
}

.checkbox:checked + #wrapper > .sidemenu ul li a h3 {
    display: inline;
}

/* <Hamburger> */
@keyframes hamburgerTopLineAnimation {
    0% {
        transform: rotate(0deg);
        margin-top: -8px;
    }

    10% {
        margin-top: -10px;
    }

    70% {
        transform: rotate(0deg);
        margin-top: 0px;
    }

    100% {
        transform: rotate(45deg);
        margin-top: 0px;
    }
}

@keyframes hamburgerCenterLineAnimation {
    0% {}

    50% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes hamburgerBottomLineAnimation {
    0% {
        transform: rotate(0deg);
        margin-top: 8px;
    }

    10% {
        margin-top: 10px;
    }

    70% {
        transform: rotate(0deg);
        margin-top: 0px;
    }

    100% {
        transform: rotate(-45deg);
        margin-top: 0px;
    }
}

.sidemenuToggle {
    grid-area: sidemenuToggle;

    display: flex;
    align-items: center;
}

.sidemenuToggle > div {
    margin-left: 20px;
}

.hamburgerLineContainer {
    position: relative;

    width: 30px;
    height: 30px;
}

.hamburgerLineContainer:hover div:nth-child(1) {
    animation: hamburgerTopLineAnimation 0.5s ease;
    animation-fill-mode: forwards;
}

.hamburgerLineContainer:hover div:nth-child(2) {
    animation: hamburgerCenterLineAnimation 0.5s ease;
    animation-fill-mode: forwards;
}

.hamburgerLineContainer:hover div:nth-child(3) {
    animation: hamburgerBottomLineAnimation 0.5s ease;
    animation-fill-mode: forwards;
}

.hamburgerLineContainer div:nth-child(1) {
    margin-top: -8px;
}

.hamburgerLineContainer div:nth-child(3) {
    margin-top: 8px;
}

.hamburgerLineContainer div {
    position: absolute;

    top: 50%;
    border: solid white 1.5px;
    border-radius: 3px;
    width: 100%;
    background-color: white;
}
/* </Hamburger> */
/* </TopMenu> */

/* <Main> */
main {
    grid-area: main;

    margin: 0px 20px 20px 20px;

    display: flex;
    flex-direction: column;
}

/* </Main> */

/* <Footer> */
footer {
    grid-area: footer;

    background-color: #222222;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer > img {
    height: 40px;
}
/* </Footer> */