main {
    display: flex;
    flex-direction: column;
}

.downloadLinks {
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 0.5rem;
    margin-bottom: 10px;

    max-width: 100vw;
}

.downloadLinks li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #252525;
    border-radius: 8px;

    display: flex;
    align-items: center;
}

.downloadLinks img {
    height: 2.25rem;
    margin: 5px;
}

.downloadLinks span {
    margin-right: 10px;
    margin-left: 5px;
}