main {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    width: 100%;
}

.infoCard {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.infoCard span {
    display: flex;
    flex-direction: column;

    margin-bottom: 0.25rem;
}

.infoCard img {
    width: 100%;
    border: 1px solid #555;
    border-radius: 4px;
}

@media screen and (min-width: 630px) {
    .infoCard {
        flex-direction: row;
    }

    .infoCard img {
        width: auto;
        height: 20%;
    }

    .infoCard > span > span {
        max-width: 70%;
    }
}