main {
    display: flex;
    flex-direction: column;
}

.infoCard {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.infoCard > span {
    display: flex;
    flex-direction: column;

    margin-bottom: 0.25rem;
}

.infoCard img {
    width: 100%;
}

@media screen and (min-width: 630px) {

    .cardContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .infoCard {
        flex-direction: row;
    }

    .infoCard img {
        width: auto;
    }

    .infoCard > span {
        max-width: 40%;
    }

    .infoCard > span > p {
        width: 100%;
    }
}