main {
    display: flex;
    flex-direction: column;
}

main div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 5px;

    flex-grow: 1;
}

main div div img {
    height: 300px;
    border: 1px solid #555;
    border-radius: 2px;
}