* {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: #202020;
    margin: 0px;
}

/* <Button> */
button {
    background-color: #252525;
    border: none;
    height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}

button:hover {
    background-color: #272727;
}

button:active {
    background-color: #292929;
}
/* </Button> */

/* <Input> */
input {
    background-color: #252525;
    border: 1px solid #191919;
    color: white;

    height: 26px;
    border-radius: 4px;
}

input:focus {
    outline: none;
}
/* </Input> */

/* <Text> */
h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 6px;
}

h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 4px;
}

p {
    word-wrap: normal;
    margin: 0px;
}

textarea {
    background-color: #252525;
    border: 1px solid #191919;
    color: white;
    height: 100px;
}
/* </Text> */

/* <Lists> */
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
/* </Lists> */

/* <Other> */
.border {
    border: 1px solid #555;
    border-radius: 4px;
}

.stackpanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dockpanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.gold {
    background-color: #DBA531;
}

.whitespace {
    margin-bottom: 0.75rem;
}
/* </Other> */