html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #202020;

    display: flex;
    flex-direction: column;
}

#order1 {
    height: 90px; /* Could also put this ib oth menus */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* <Hamburger Menu> */
@keyframes hamburger-appear {
    /* 0% {
        width: 130px;
    }

    100% {
        width: 0px;
    } */

    to {
        width: 0px;
    }
}

@keyframes hamburger-disappear {
    /* 0% {
        width: 0px;
    }

    100% {
        width: 130px;
    } */

    to {
        width: 130px;
    }
}

#hamburgerMenu {
    background-color: #282828;
    width: 130px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hamburgerIcon {
    height: 26px;
}

.navToggle {
    margin-left: 20px;
}

.checkbox {
    display: none;
}

.checkbox + #sideMenu {
    /* animation: hamburger-disappear 1s linear; */
    width: 0px;
}

.checkbox:checked + #sideMenu {
    /* animation: hamburger-appear 1s linear; */
    width: 130px;
}

header a {
    margin-left: 20px;
    margin-right: 10px;
}

.navImage {
    height: 50px;
}
/* </Hamburger Menu> */

#topMenu {
    background-color: #282828;
    flex: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;

    display: flex;
}

nav ul li {
    margin-left: 1rem;
    border-bottom: 3px solid #242424;
    padding-bottom: 4px;
    font-size: 1.5rem;
}

nav ul li:hover {
    margin-left: 1rem;
    border-bottom: 3px solid #DBA531;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a img {
    height: 1.25rem;
}

/* TODO: How does this work now */
nav ul li a .onpage {
    border-bottom: 3px solid #DBA531;
}

#order2 {
    display: flex;
    flex-direction: row;

    flex: auto;
}

#sideMenu {
    background-color: #282828;
    /* width: 130px; */
}

#order2-1 {
    display: flex;
    flex-direction: column;
    flex: auto;
}

main {
    background-color: #202020;
    flex: auto;
}

footer {
    background-color: #242424;
    height: 100px;
}